.header_h1{
    height: 10em;
    position: relative;
    background-image: url("/public/food.jpg");
    text-shadow: white 0 0 2px, black 5px 10px 25px;

    border-radius: 25px;
}

.header_text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}