.select-container {
    padding: 10px;
    margin-right: 15px;
    min-width: 210px;
}

.btn-add {
    margin: 8px;
    background-color: #153448;
}

.total-calc {
    font-weight: bold;
    border-top: 2px solid black
}